<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6">
              <div class="card">
                  <div class="header">
                      <h4 class="title">Cadastrar Cursos</h4>
                      <p class="category">Here is a subtitle for this table</p>
                  </div>
                  <app-curso-create></app-curso-create>
              </div>
          </div>
          <div class="col-md-6 col-sm-12">
              <div class="card">
                  <div class="header">
                      <h4 class="title">Lista Cursos</h4>
                      <p class="category">Here is a subtitle for this table</p>
                  </div>
                  <app-curso-list></app-curso-list>
              </div>
          </div>
      </div>
  </div>
</div>
